*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/bg.jpg);
    background-position: top center;
    background-size: 100% auto ;
    background-repeat: no-repeat;
    background-color: #121214;
    
}

body *{
    font-family: 'Poppins', sans-serif;
    line-height: 160%;
}

header{
    padding-top: 32px;
    height: calc (120px + 32px);
}

header div {
    width: 150px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.2);
}

header img {
    width: 100%;
    border-radius: 50%;
}

main{
    max-width: 580px;
    width: 90%;
    height: 264px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section {
    color: white; 
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2a2634;
    padding: 32px ;
    padding-top: 24px;
    border-radius: 8px;
    box-shadow: 1px 1px #7332b1;
    
}

section h2{
    letter-spacing: -0.47px;
    text-align: center;
}

section p{
    letter-spacing: -0.18px;
    color: #a1a1aa;
    text-align: center;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap:16px;
    margin-top: 24px;
    list-style: none;
    justify-content: center;
}

section ul  li {
    transition: transform .3s;
}


section ul  li:hover {
    transform: scale(1.3);
}

.games-list img {
    width: 90px;
    border-radius: 10px;
    border: solid 1px #9cec08;
}

.channel-list img {
    width: 80px;
    border-radius: 50%;
    border: solid 1px #9cec08;
}

/* Animação */

header div {
    animation: Fromtop .7s .2s backwards; 
    
}


main section {
    animation: fromBottom .7s backwards;
}



main section:nth-child(1) {
    animation-delay: 0;
}



main section:nth-child(2) {
    animation-delay: .4s;
}



main section:nth-child(3) {
    animation-delay: .7s;
}



@keyframes Fromtop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}



@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}


